<ion-view view-title="{{cat.title}}">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="post in posts" href="#/app/posts/{{cat.title}}/{{post.id}}">
		<!--<div ng-bind-html="post.custom_fields.thumbnail_html[0] + post.title"></div>-->
        <div ng-bind-html="'<h1>' + post.title + '</h1>' +
						   'Posted on ' + post.date.substring(0, 10) + '<br/>' +						    
						   post.custom_fields.thumbnail_html[0].replace('150', '100%').replace('150', 'auto').replace('150x150', '1080x357') + '<br/>' + 
						   post.excerpt"></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
